* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  background-color: #432bff;
  font-size: 14px;
}

body {
  color: #eee;
  font: 1rem/1.3 Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 60rem;
  padding: 6rem 3rem;
}

[data-font-loaded~="franklin_gothic_fsbook"] body {
  font-family: franklin_gothic_fsbook, Helvetica Neue, Helvetica, Arial, sans-serif;
}

[data-font-loaded~="franklin_gothic_fsdemi"] .site-title {
  font-family: franklin_gothic_fsdemi, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.site-title a {
  color: rgba(0,0,0,.6);
  display: block;
  font-size: 3rem;
  font-size: calc(1.5rem + 3vw + 1vh);
  font-weight: 600;
  opacity: .9;
  padding-left: 10rem;
  padding-left: calc(3rem + 9vw);
  position: relative;
  text-decoration: none;
  transition: .15s color ease-in-out, .15s opacity ease-in-out;
}

.site-title a:hover {
  color: rgba(255,255,255,.3);
  opacity: 1;
}

.site-title a:before {
  background: rgba(0,0,0,.3);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,.9);
  content: "";
  height: 10vw;
  left: 0;
  max-height: 8rem;
  max-width: 8rem;
  min-height: 4rem;
  min-width: 4rem;
  position: absolute;
  top: -1vw;
  transition: .15s background-color ease-in-out, .15s border-color ease-in-out;
  width: 10vw;
}

.site-title a:hover:before {
  background-color: rgba(255,255,255,.15);
  border-color: rgba(255,255,255,.15);
}

.site-title a:after {
  background: url(../img/logo.svg) 50% 50% no-repeat;
  background-size: 60% 60%;
  border-radius: 50%;
  border: 2px solid transparent;
  content: "";
  filter: invert(1);
  height: 10vw;
  left: 0;
  max-height: 8rem;
  max-width: 8rem;
  min-height: 4rem;
  min-width: 4rem;
  order: -1;
  position: absolute;
  top: -1vw;
  transition: .15s filter ease-in-out;
  width: 10vw;
}

.site-title a:hover:after {
  filter: invert(0);
}

.content {
  padding: 3rem 0 4.5rem;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
}

p,
dl,
ol,
ul {
  margin-top: 1.5rem;
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
}

.btn {
  background: #fff;
  border: 3px solid #333;
  box-shadow: #666 1px 1px 0 0, #777 2px 2px 0 0, #888 3px 3px 0 0, #999 4px 4px 0 0, #aaa 5px 5px 0 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .2ch;
  margin-bottom: 15px;
  padding: 0.25em 0.75em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .15s border-color ease-in-out, .15s box-shadow ease-in-out, .15s left ease-in-out, .15s top ease-in-out;
}

.btn:active {
  border-color: #aaa;
  box-shadow: 0;
  left: 5px;
  top: 5px;
}

.log-in-btn {
  border-color: #00bc52;
  box-shadow: #67ffa9 1px 1px 0 0, #78ffb3 2px 2px 0 0, #89ffbc 3px 3px 0 0, #9affc6 4px 4px 0 0, #abffcf 5px 5px 0 0;
  color: #005625;
}

.log-in-btn:hover {
  border-color: #009a43;
  box-shadow: #89ffbc 1px 1px 0 0, #9affc6 2px 2px 0 0, #abffcf 3px 3px 0 0, #bcffd9 4px 4px 0 0, #cdffe3 5px 5px 0 0;
  color: #005625;
}

.log-in-btn:active {
  border-color: #00de61;
  box-shadow: #89ffbc 1px 1px 0 0, #9affc6 2px 2px 0 0, #abffcf 3px 3px 0 0, #bcffd9 4px 4px 0 0;
}

.log-in {
  margin-bottom: 2rem;
}

.manifest-form {
  padding-top: 3rem;
}

.manifest-form input[name="url"] {
  font-size: 1.3rem;
  font-size: calc(.8rem + 1vw + .25vh);
  padding: .6rem .8rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 1rem;
}

::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
  font-size: 1rem;
  font-size: calc(.5rem + 1vw + .25vh);
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 1rem;
  font-size: calc(.5rem + 1vw + .25vh);
}

:-ms-input-placeholder {  /* IE 10+ */
  font-size: 1rem;
  font-size: calc(.5rem + 1vw + .25vh);
}

:-moz-placeholder {  /* Firefox <= 18 */
  font-size: 1rem;
  font-size: calc(.5rem + 1vw + .25vh);
}

/* Input `:focus` styles adapted from those on https://github.com/ */
input[type="text"] {
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

input[type="text"]:focus {
  background-color: #fff;
  /*border-color: #2188ff;*/
  border-color: rgba(0,0,0,.6);
  /*box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 .2em rgba(3,102,214,.3);*/
  box-shadow: inset 0 0px 2px rgba(0,0,0,.075), 0 0 0 .2em rgba(255,255,255,.3);
  outline: none;
}
